<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
{% block body %}
  <div class="container">
    <nav>
      <div class="nav-wrapper teal">
        <a href="#" class="brand-logo">{{title}}</a>
      </div>
    </nav>
    {% if warning %}
      <div class="card-panel yellow lighten-2">
        {{warning}}
      </div>
    {% endif %}
    {% if info %}
      <div class="card-panel green lighten-2">
        {{info}}
      </div>
    {% endif %}
    {% if error %}
      <div class="card-panel red lighten-1">
        {{response}}
      </div>
    {% else %}
      {% if response %}
        <div class="card-panel green lighten-1">
          Request was successful!
        </div>
      {% endif %}
    {% endif %}
    <div class="card-panel">
      <code>
      {% if response %}
        {% if response.response %}
          <div class="card-panel blue lighten-2">
            <h5>Account details</h5>
            ID: {{response.response._id}} <br />
            BIC: {{response.response.bank.bic}} <br />
            NAME: {{response.response.bank.name}} <br />
            COUNTRY: {{response.response.bank.country}} <br />
            OWNER: {{response.response.ownerName}} <br />
            STATUS: {{response.response.status}} <br />
          </div>
        {% endif %}
      {% endif %}
      </code>
    </div>
  </div>
{% endblock %}
