<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
{% block body %}
  <div class="container">
    <nav>
      <div class="nav-wrapper teal">
        <a href="#" class="brand-logo">{{title}}</a>
      </div>
    </nav>
    {% if warning %}
      <div class="card-panel yellow lighten-2">
        {{warning}}
      </div>
    {% endif %}
    {% if info %}
      <div class="card-panel green lighten-2">
        {{info}}
      </div>
    {% endif %}
    {% if error %}
      <div class="card-panel red lighten-1">
        {{response}}
      </div>
    {% else %}
      {% if response %}
        <div class="card-panel green lighten-1">
          Request was successful!
        </div>
      {% endif %}
    {% endif %}
    <div class="card-panel">
      <code>
      {% if response %}
        {% if response.response %}
          {% for entry in response.response.transactions %}
            <div class="card-panel blue lighten-2">
              <h5>Transaction</h5>
              CURRENCY: {{entry.currency}} <br />
              VALUE: {{entry.amount}} <br />
              DATE: {{entry.bookingDate}} <br />
              {% if entry._type == 'CreditTransaction' %}
                FROM: {{entry.debtorName}} <br />
              {% else %}
                TO: {{entry.creditorName}} <br />
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      {% endif %}
      </code>
    </div>
  </div>
{% endblock %}
